/* Global Styles */

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;  
}
h5 {
    margin: 20px auto 20px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
}
p {
    font-size: 13px;  
    font-weight: 600;
}
.text {
    margin: 20px auto 20px;
    line-height: 20px;
}


/* styling for name and verified grad */
.name-status {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}
.white-background .name-status {
    color: hsl(217, 19%, 35%);
}
.name-status span {
    opacity: 50%;
}


/* styling for the header */
h5 {
    color: hsl(0, 0%, 100%);
}
.white-background h5 {
    color: hsl(217, 19%, 35%);
}
/* styling for the text class */
.review-cont > p {
    color: hsl(0, 0%, 100%, 70%);
}
.white-background > p {
    color: hsl(217, 19%, 35%, 70%);
}


/* Mobile Styles */
body {
    background-color: hsl(210, 46%, 95%);
    padding: 60px 25px; 
        /* may need to adjust this later */
}
section {
    margin-bottom: 30px;
    border-radius: 10px;
}
.review-cont {
    padding: 20px 10px 20px 20px;
}
.profile-cont {
    display: flex;
    line-height: 15px;
}
.avatar {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.review-cont:nth-of-type(1){
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    padding-right: 15px;
}
.review-cont:nth-of-type(2){
    background-color: hsl(217, 19%, 35%);
}
.review-cont:nth-of-type(3) {
    background-color: hsl(0, 0%, 100%);
}
.review-cont:nth-of-type(4){
    background-color: hsl(219, 29%, 14%);
}
.review-cont:nth-child(5) {
    background-color: hsl(0, 0%, 100%);
}

/* desktop setttings */
@media only screen and (min-width: 600px) {
    main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    display: grid;
    grid-row: 2;
    row-gap: 10px;
    grid-column: 3;
    column-gap: 10px;
   }

   /* styling to make the grid layout */
   #first-cont {
    grid-column: 1/3;
    grid-row: 1/2;
   }
   #second-cont {
    grid-column: 2/3;
    grid-row: 1/2;
   }
   #third-cont {
    grid-column: 1/3;
    grid-row: 2/2;
   }
   #fourth-cont {
    grid-column: 2/3;
    grid-row: 2/2;
   }
   #last-cont {
    grid-column: 3/3;
    grid-row: 1/2;
   }
}